/* Import de font Poppins*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Estilos mobile-first */
body {
  font-family: poppins, sans-serif;
  margin: 0;
}

main {
  margin: 7rem 2rem;
  max-width: 95dvw;
  max-width: 95vw;
}

section {
  margin-bottom: 2rem;
}

/*Estilización para tamaños de texto escalables y tipografías*/
h1 {
  font-weight: bold;
  font-size: clamp(1.5rem, 2dvw + 0.5rem, 2.5rem);
  font-size: clamp(1.5rem, 2vw + 0.5rem, 2rem);
  margin-bottom: 0.2rem;
}

p {
  font-size: clamp(0.9rem, 0.8vw + 0.5rem, 1.1rem);
}

/*Display en forma de galeria para las tarjetas*/
.galery-display{
    display: flex;
    flex-wrap: wrap; /* Con wrap automaticamente se acomoda con la pantalla*/
    justify-content: space-around;
    align-items: start;
    gap: 0.5rem;
}

/* Seccion encargada de los productos destacados*/
.productos-scroll {
    overflow-x: scroll; /* Hace que se pueda hacer scroll en movil*/
    display: flex;  /* Es un flex para poder centra más facilmente*/
    justify-items: space-around;
    align-items: center;
    gap: 0.5rem;
}

/*Estilos para todo excepto movil*/
@media (min-width: 768px) {
  main {
      margin: 9rem 3rem;
      font-size: 16px;
  }

  /* Se encarga de cambiar las tarjetas que usan sidescroll en movil sean ahora wrap para Desktop*/
  .productos-scroll {
    overflow: visible; /* Elimina la scrollbar*/
    justify-content: space-around;
    flex-wrap: wrap;
  }
}